[submodule "glitter"]
	path = glitter
	url = https://github.com/InnovAnon-Inc/glitter.git
[submodule "swap"]
	path = swap
	url = https://github.com/InnovAnon-Inc/swap.git
[submodule "MultiMalloc"]
	path = MultiMalloc
	url = https://github.com/InnovAnon-Inc/MultiMalloc.git
[submodule "m4"]
	path = m4
	url = https://github.com/InnovAnon-Inc/m4-common
